/target
bin/
src/lib.rs
log.txt

configs/env_configs/*
!configs/env_configs/default_only_line.json
!configs/env_configs/default_only_point.json
!configs/env_configs/default.json

configs/farm_entity_plans/*
!configs/farm_entity_plans/default_line.json
!configs/farm_entity_plans/default_point.json

configs/batteries/*
!configs/batteries/default

configs/movement_configs/*
!configs/movement_configs/default_romba.json

configs/agent_configs/*
!configs/agent_configs/default.json